/**/
body {
    background-image: url("../images/forest-bike-bulls-100582.jpg");
    background-attachment: fixed;
    backgound-repeat:no-repeat;
    background-size: contain;
}
/**/
.header {
    margin-top:0;
    text-align:center;
    color: black;
    background-color: #80ff80;
}

/**/
.menu {
    position: relative;
    display: inline-block;
}
/**/
.menubutton {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
/**/
.dropDownContent {
    display: none;
    width: inherit;
    height: 170px;
    background-Color: #3e8e41;
    min-Width: 160px;
    box-Shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-Index: 1;
    
}
/**/
.list{
    list-style:none;
}
/**/
.link {
    color: black;
    padding: 12px 16px;
    text-Decoration: none;
    display:block;
}
/**/
.lowDiv {
    
    text-align: center;
    color: white;
    background-color: #80ff80;
    margin-bottom:20px;
}
/**/
.footer {
    
    color: white;
    background-color: #80ff80;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
